section {
  display: grid;
  place-items: center center;

  height: 100vh;
  background-color: #f5f5f5;
}

#app {
  text-align: center;
  border: 1px solid red;
  font-size: 20px;
}
#todos {
  list-style-type: none;
}

.todo {
}

.done > input:nth-last-child(2) {
  text-decoration: line-through;
}

#toggleAll {
}

.active {
  border: 1px solid red;
}
